*{
    font-family: "Open Sans", sans-serif;
}
#main{
    margin: 10px;
    padding: 70px;
}
#cabecera{
    display: flex;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 3px 4px rgb(36, 36, 36);
    position: fixed;
    z-index: 1;
}
#cambio{
    display: flex;
    justify-content: center;
    width: 30%;
    margin: 20px;
    position: fixed;
    right: 950px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    font-size: 30px;
}
#Sboton{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 20px;
    position: fixed;
    right: 10px;
    font-family:sans-serif;
    align-items: center;
    font-size: 30px;


}
#logo{
    margin: 20px;
    position: relative;
    right: 70px
    
}
.pagina2{
    position: relative;
    right: 20px;
    color: red;
    font-weight: bold;
    text-decoration: none;
    align-items: center;
    text-decoration: underline 6px solid orange;
}
#Ubi{
    font-size: 58px;
    align-items: center;
    position: relative;
    left: 60px;
}
.borde{
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
}
.borde1{
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    color: white;
    background-color: black;
}
#minipie{
 display: flex;
 position: relative;
 top: 25px;
 justify-content: space-between;
 color: gray;
}
#icon{
    font-size: 25px;
    color: black;
    position: relative;
    top: 18px;
}
.libro{
    position: relative;
    bottom: 50px;
}
.estilo{
    height: 2px;
    background-color: rgb(190, 190, 190);
    border: none;
    opacity: 0.6;
}
.estilo2{
    height: 2px;
    background-color: rgb(190, 190, 190);
    border: none;
    opacity: 0.3;
}
.estilo3{
    height: 2px;
    background-color: rgb(190, 190, 190);
    border: none;
    opacity: 0.6;
}
#medio{
    background-color: rgb(247, 247, 247);
    padding: 5px;
}
.textomedio2{
    width: 14%;
    border: none;
    height: 2px;
    background-color: black;
    position: relative;
    right: 35%;
}
.textomedio{
    font-size: 18px;

    position: relative;
    left: 10%;
}
.estilo4{
    height: 2px;
    background-color: rgb(190, 190, 190);
    border: none;
    opacity: 0.6;
    position: relative;
    bottom: 11px;
}
#cuerpo{
    display: flex;
}

.muestra{
    border-radius: 300px;
    position: relative;
    z-index: 0;
}
#lista{
    border: 4px solid rgb(253, 250, 37);
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-left: 7%;
}
#catalogo{
    height: 100%;
    width: 60%;
    border: 3px solid rgb(253, 250, 37);
    margin-left: 7%;

}
#colum{
    display: flex;
    height: 30%;
    width: 80%;
    justify-content: space-between;
}
#uno{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
#dos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.a{
    margin: 30px;
}
.a1{
    margin: 30px;
}
.estilo4{
    width: 90%;
    height: 3px;
    background-color: rgb(253, 255, 143);
    border: none;
}